html {
  box-sizing: grid;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  max-width: 100%;
  background-color: rgb(42, 61, 165);
  padding-left: 30px;
  padding-right: 10px;
}

.logo {
  display: inline-block;
}

.nav-links {
  display: flex;
  margin-right: 10px;
}

.nav-item a {
  display: list-item;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

#laptop-pic {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/*Grid Container Home*/ 

.container {
  display: grid;
  grid-template-areas: 
  "pic pic pic name name name"
  "pic pic pic job job job"
  "pic pic pic skills skills skills"
  "pic pic pic switch switch switch";
  gap: 5px;
}

.item {
  border-style: inset;
  border-color: rgb(42, 61, 165);
  border-radius: 10px;
  padding: 5px;
}
.item-1 {
  grid-area: pic;
  background-image: url("https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1789&q=80");
  text-align: center;
}

.item-2 {
  grid-area: name;
  background-color: lightgrey;
  margin-top: 10px;
}

.item-3 {
  grid-area: job;
  background-color: lightgrey;
  margin-top: 10px;
}

.item-4 {
  grid-area: skills;
  margin-top: 10px;
  margin: 10px;
  padding: 10px;
}

.item-5 {
  grid-area: switch;
  margin-top: 10px;
  text-align: center;

}

#profile-pic {
  width: 60%;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

h1 {
  font-size: 50px;
  padding: 5px;
}

h2 {
  font-size: 30px;
  padding: 5px;
}
/*Dark/Light Mode*/

.dark-mode {
  background-color: #333;
  color: brown;
  transition: all 0.4s ease-in;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;

}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(42, 61, 165);
}

input:focus + .slider {
  box-shadow: 0 0 2px rgb(42, 61, 165);
}

input:checked + .slider:before {
  transform: translateX(1.63rem);
}

/*About Us Fade and Slide In On Scroll*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: rgb(42, 61, 165);
}

.container-about {
  margin: 0 auto;
  background-image: url("https://images.unsplash.com/photo-1584968124544-d10ce10dd21f?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  max-width: 1400px;
}

.heading {
  font-size: 3rem;
  text-align: center;
  color: black;
  background-color: rgb(250, 249, 246);
  padding: 15px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 10px;
}

.subheading {
  font-size: 1.5rem;
  color: #000;
  background-color: rgb(250, 249, 246);
  padding: 15px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 10px;

}

.item-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.item-about:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.item__content {
  background-color: rgb(250, 249, 246);
  color: black;
  text-align: center;
  padding: 5rem;
  border-radius: 10px;
  border-style: solid;
  margin: 10rem;
}

.item-about > p {
  text-align: center;
}

.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}

.goals-about {
  text-align: left;
}

/*Images in about us section*/

.anaheim-pic {
  width: 500px;
}

.fight-entrance {
  width: 150px;
}

.running-man {
  width: 150px;
}

.html-books {
  width: 120px;
}



